<!DOCTYPE html>
<html>
<head>
    <title>MyShop.com</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- minified jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
<script>
// facebook sdk
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '331293527223662',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 logo-box">
                <a href="/"><h1>MyShop.com</h1></a>
            </div>
            <div class="col-md-4 search-box">
                <form method="GET" action="/search">
                    <input type="text" name="keyword" placeholder="Search...">
                    <button type="submit" name="search">Search</button>
                </form>
            </div>
            <div class="col-md-4 login-box text-right">
                <div
                    class="fb-login-button"
                    data-max-rows="1"
                    data-size="large"
                    data-show-faces="false"
                    data-auto-logout-link="false">
                </div>
                <button class="btn btn-link btn-xs" id="login-button">Login</button>
                <button class="btn btn-link btn-xs" id="signup-button">Sign Up</button>
                <button id="user-settings-button" class="btn btn-link btn-xs" style="display: none">Welcome, user.name</button>
                <div id="user-settings-menu" style="display: none">
                    <div id="to-profile" class="user-settings-menu-item"><a href="/1/profile">Profile</a></div>
                    <div id="to-account-settings" class="user-settings-menu-item"><a href="/1/userSettings">Settings</a></div>
                    <div id="logout" class="user-settings-menu-item"><a href="/1/logout">Logout</a></div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="content">
{% block content %}
{% endblock %}
</div>
<script>
    // displays and hides user settings drop down menu on click.
    $('#user-settings-button').click(function() {
        if ($('#user-settings-menu').css('display') == 'block') {
            $('#user-settings-menu').attr('style', 'display: none');
        } else {
            $('#user-settings-menu').attr('style', 'display: block');
        }
    });
</script>
</body>
</html>