<!DOCTYPE html>
<html>
<head>
	<title>MyShop.com</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- minified jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
<header class="container fixed-pos">
	<div class="row">
		<div class="col-md-4 logo-box">
			<h1>MyShop.com</h1>
		</div>
		<div class="col-md-4 search-box">
			<form method="GET" action="/search">
				<label>
					<h3>Search:</h3>
					<input type="text" name="search-text">
					<input type="submit" name="Search">
				</label>
			</form>
		</div>
		<div class="col-md-4 login-box">
			<button>Login</button>
			<button>Sign Up</button>
			<button>Login With Facebook</button>
		</div>
	</div>
</header>
{% block content %}
{% endblock %}
</body>
</html>