{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="Catagory-div">
				<h2>Subcatagories Here</h2>
			</div>
		</div>
		<div class="col-md-4 catagory-clearance">
			<div class="row">
				<div class="col-md-12 clearance-item">
					<img src="http://placehold.it/200x200" class="img-responsive">
					<h2>Item Title</h2>
					<h4>$price</h4>
					<p>Item description goes here.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}