{% extends 'base.html' %}
{% block content %}
<script>
function logOut() {
    $('#login-button').show();
    $('#signup-button').show();
    $('#user-settings-button').hide();
}


function loggedIn(FBauthResponse) {
    $('#login-button').hide();
    $('#signup-button').hide();
    FB.api('/' + FBauthResponse.userID, function(response) {
        console.log(response)
        $('#user-settings-button').html('Welcome, ' + response.name + '!');
        $('#user-settings-button').show();
        $('#to-profile').attr('href', '/'+ response.id+ '/profile');
    });
}


function statusChangeCallback(response) {
    var FBstatus = response.status;
    var FBauthResponse = response.authResponse;
    if (FBstatus === 'connected') {
        loggedIn(FBauthResponse);
    } else if (FBstatus === 'not_authorized') {
        logOut();
        console.log('MyShop.com is not authorized to access your Facebook information.')
    } else {
        logOut();
        console.log('user not connected to Facebook.')
    }
}

// checks login status after user clicks #fb-login-button.
function checkLoginState() {
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });
}


// facebook sdk
window.fbAsyncInit = function() {
    FB.init({
        appId      : '331293527223662',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
    // fetches users facbook login status.
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });
  };

(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div class="container">
    <div class="row">
        <div class="col-md-7 cat-div-con">
            <div class="catagory-div">
                <h2 class="cat-title text-center">On SALE!</h2>
                <img id="loader-SI" src="{{url_for('static', filename='images/ajax-loader.gif')}}">
                <div class="row" id="saleItemsContainer">
                </div>
            </div>
        </div>
        <div class="col-md-5 catagory-clearance">
            <h2 class="text-center">Clearance Items</h2>
            <img id="loader-CI" src="{{url_for('static', filename='images/ajax-loader.gif')}}">
            <div class="row" id="clearanceItemsContainer">
            </div>
        </div>
    </div>
</div>
<script>
// fetches on clearance and on sale items from API every 7 seconds.
var pastClearanceResults = [];
var pastSaleResults = [];
function ItemRefresh() {
    $.ajax({
        type: "GET",
        url: "{{url_for('clearanceItemsAPI')}}",
        dataType: "json",
        success: function (response) {
            var results = response["results"];
            $("#loader-CI").attr("style", "display: none");
            for (i = 0; i < results.length; i++) {
                if (pastClearanceResults.indexOf(results[i]["id"]) === -1) {
                    $("#clearanceItemsContainer").append(
                        "<div class='col-md-4 clearance-item' style='max-width: 200px'><img src='" + results[i]["imageURL"] + "' class='img-responsive'><h2>" + results[i]["name"] + "</h2><h4>" + results[i]["price"] + "</h4></div>"
                    );
                    pastClearanceResults.push(results[i]["id"]);
                }
            }
        },
        error: function (errorThrown) {
            $("#loader-CI").attr("style", "display: none");
            console.log(errorThrown);
            $("#clearanceItemsContainer").html("Clearance Items Unavailable");
        }
    });
    // fetches on sale items from API every 7 seconds.
    $.ajax({
        type: "GET",
        url: "{{url_for('saleItemsAPI')}}",
        dataType: "json",
        success: function (response) {
            var results = response["results"];
            $("#loader-SI").attr("style", "display: none");
            for (i = 0; i < results.length; i++) {
                if (pastSaleResults.indexOf(results[i]["id"]) === -1) {
                    $("#saleItemsContainer").append(
                        "<div class='col-md-4 clearance-item' style='max-width: 200px'><img src='" + results[i]["imageURL"] + "' class='img-responsive'><h2>" + results[i]["name"] + "</h2><h4>" + results[i]["price"] + "</h4></div>"
                    );
                    pastSaleResults.push(results[i]["id"]);
                }
            }
        },
        error: function (errorThrown) {
            $("#loader-SI").attr("style", "display: none");
            console.log(errorThrown);
            $("#saleItemsContainer").html("Clearance Items Unavailable");
        }
    });
}
ItemRefresh();
setInterval(function () {
    ItemRefresh()
    }, 5000);
</script>
{% endblock %}