{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="{{url_for('static', filename='js/profilePageFBvalidationScript.js')}}"></script>
<div id="userInfoDiv">
	<div id="ProfilePicDiv">
		<img class="img-circle" src="{{pictureURL}}" width="200px" height="200px">
	</div>
	<h1 id="name">{{name}}</h1>
	<div id="selling">
		<button id="sell-item" class="btn btn-lg btn-success" data-toggle="modal" data-target="#sellItemModal">Sell Item</button>
		<h2>Items You Are Selling</h2>
		{% for item in userMerch %}
		<div class="item-container">
			<img src="{{item.imageURL}}" width="100">
			<h3>{{item.name}}</h3>
			<h4>${{item.price}}</h4>
			<p>{{item.description}}</p>
			<p>{{item.qty}} Available</p>
		</div>
		{% endfor %}
	</div>
</div>

<!-- Sell Item Modal -->
<div class="modal fade text-center" id="sellItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sell New Item</h4>
      </div>
      <div class="modal-body">
      <h6 id="new-item-message"></h6>
      	<div id="new-item-form">
			    Item Name
			    <br>
			    <input id="item-name" type="text" name="item-name">
			    <p id="name-error" class="error-message"></p>
			<br>
			    Price
			    <br>
			    <input id="item-price" type="number" name="item-price">
			    <p id="price-error" class="error-message"></p>
			<br>
		      	Description
		      	<br>
		      	<textarea id="item-description" type="text" name="item-description"></textarea>
		      	<p id="desc-error" class="error-message"></p>
		    <br>
		      	Image URl
		      	<br>
		      	<input id="item-img" type="url" name="item-img">
		      	<p id="img-error" class="error-message"></p>
		    <br>
		      	Quantity
		      	</br>
		      	<input id="item-qty" type="number" name="item-qty">
		      	<p id="qty-error" class="error-message"></p>
		</div>
		<img id="loader-gif" src="{{url_for('static', filename='images/ajax-loader.gif')}}" margins="auto" style="display: none">
      </div>
      <div class="modal-footer">
      	<button id="submit-new-item-button" type="button" class="btn btn-primary">Submit New Item</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <script>
        var formIds = ["#item-name", "#item-price", "#item-description", "#item-img", "#item-qty"]
        var errorIds = ["#name-error", "#price-error", "#desc-error", "#img-error", "#qty-error"]
        var errorMessages = ["Name Required!", "Price required!", "Description required!", "Image URL required!", "Qty required!"]
        var hasError = false;
        $(document).ready(function(){
        	$('#submit-new-item-button').click(function(){
        		hasError = false;
        		$('#new-item-message').text("processing. Do Not Close Window....")
        		// resets error values on if resubmitting.
        		for (i = 0; i < errorIds.length; i++) {
        			$(errorIds[i]).text('');
        		}

        		$('#new-item-form').hide();
        		$('#loader-gif').show();
        		$('#submit-new-item-button').hide();

        		// validates form
        		for (i = 0; i < formIds.length; i++) {
        			if ($(formIds[i]).val() === null || $(formIds[i]).val() === "" || $(formIds[i]).val() === undefined) {
        				$(errorIds[i]).text(errorMessages[i]);
        				hasError = true;
        			}
        		}

        		if (hasError) {
        			// shows form with errors.
        			$('#loader-gif').hide();
        			$('#new-item-message').text('');
        			$('#new-item-form').show();
        			$('#submit-new-item-button').show();
        		} else {
        			// sends retrieves form data and sends to server.
	        		var name = $('#item-name').val();
	        		var price = $('#item-price').val();
	        		var description = $('#item-description').val();
	        		var imgURL = $('#item-img').val();
	        		var qty = $('#item-qty').val();

	        		var newItemObj = {
	        			"name": name,
	        			"price": price,
	        			"description": description,
	        			"imgURL": imgURL,
	        			"qty": qty
	        		}

	        		console.log(newItemObj)

	        		$.ajax({
	        			type: "POST",
	        			url: "/newItem?state={{state}}",
	        			contentType: "application/json; charset=utf-8",
	        			data: JSON.stringify(newItemObj), 
	        			dataType: "json",
	        			success: function(response) {
	        				if (response.success === 'True') {
	        					$('#loader-gif').hide();
	        					$('#new-item-message').text(response.message);
	        				} else if (response.success === 'False') {
	        					console.log(response.message)
	        					$('#loader-gif').hide();
	        					$('#new-item-message').text(response.message);
        						$('#new-item-form').show();
        						$('#submit-new-item-button').show();
	        				} else {
	        					console.log("unknown response from server...")
	        					$('#loader-gif').hide();
        						$('#new-item-message').text('unknown response from server...');
        						$('#new-item-form').show();
        						$('#submit-new-item-button').show();
	        				}
	        			},
	        			failure: function() {
	        				console.log("server not responding...")
	        				$('#loader-gif').hide();
        					$('#new-item-message').text('server not responding...');
        					$('#new-item-form').show();
        					$('#submit-new-item-button').show();
	        			}
	        		})
	        	}
        	})
        })
        </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}